.card-body{
    border-bottom: 2px solid #303030;
}
.card-title{
    color: rgb(65, 56, 48);
}
.card *{
    background-color: rgb(156, 215, 253);
}

.info{
    height: 50px;
    width: 50px;
    margin: 20px;
}
